@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>

<h2>Creator</h2>
<h3>Christian Speelman</h3>
<p>As a software engineer with four years of experience in software development, I have a proven track record of writing high-quality code in languages such as C++, Java, C#, and Python. I am proficient in a wide range of languages and frameworks. I am also skilled in software design patterns and have worked effectively in agile development environments.</p>